/* For content that needs to be visually hidden but stay visible for screenreaders */

.show-for-sr {
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

@media (max-width: 767px) {
  .show-for-sr--mobile {
    border: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
  }
}


{% macro transition(value) -%} 
-webkit-transition: {{ value }};
-moz-transition: {{ value }};
-o-transition: {{ value }};
-ms-transition: {{ value }};
transition: {{ value }};
{%- endmacro %} 

{% macro borderRadius(value) -%} 
-webkit-border-radius: {{ value }};
-moz-border-radius: {{ value }};
-o-border-radius: {{ value }};
-ms-border-radius: {{ value }};
border-radius: {{ value }};
{%- endmacro %}

{% macro boxShadow(value) -%} 
-webkit-box-shadow: {{ value }};
-moz-box-shadow: {{ value }};
-o-box-shadow: {{ value }};
-ms-box-shadow: {{ value }};
box-shadow: {{ value }};
{%- endmacro %}

{% macro textShadow(value) -%} 
-webkit-text-shadow: {{ value }};
-moz-text-shadow: {{ value }};
-o-text-shadow: {{ value }};
-ms-text-shadow: {{ value }};
text-shadow: {{ value }};
{%- endmacro %}

{% macro transform(value) -%} 
-webkit-transform: {{ value }};
-moz-transform: {{ value }};
-o-transform: {{ value }};
-ms-transform: {{ value }};
transform: {{ value }};
{%- endmacro %}


div[class$="-content"] * + *:not(h2):not(h1):not(.button-wrap) {
  padding-top: 1em;
}

.cell-section.hero.folio {
  padding-top: var(--hero_top_padding);
  padding-bottom: 100px;
}

.hero {
  padding-top: var(--hero_top_padding);
}

.image-shadow img {
   -webkit-filter: drop-shadow(2px 5px 4px rgba(0,0,0,0.15));
   filter: drop-shadow(2px 5px 4px rgba(0,0,0,0.15));
}

*[class$="-content"] h4 + ul {
  list-style: none;
  margin: 0 0 1em 0 !important;
  padding: 0;
}

*[class$="-content"] h4 + ul > li {
  position: relative;
  padding-left: 1.5em;
}

*[class$="-content"] h4 + ul > li:before {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  color: var(--primary-color);
}

*[class$="-content"] h4 + ul > li + li:before {
  top: 1em;
}

html.sr .animate { visibility: hidden; }
.folio { position: relative; z-index: 0; width: 100%; }
.dnd-module > div { width: 100%; }
.folio iframe { max-width: 100%; aspect-ratio: 16 / 9; height: auto; }
#parallax-wrap { overflow: hidden; }
.popup-video { display: block; position: relative; background-size: cover; aspect-ratio: 16 / 9; height: auto; overflow: hidden; }
.popup-video img { opacity: 0; }
.popup-video:hover i { transform: scale(1.2)translate(-50%,-50%); opacity: 1;  }
.folio__blocks .folio__block * + .button-wrap { margin-top: 2em; }
.folio__form.form--modal { display: none; }
.folio__form.form--modal.active { display:block; }
div[class$='__container'] { position: relative !important; z-index: 15; }
div[class$='__col'], div[class$='__row'] { width: 100%; }
div[class$='__form--modal'] {
  display: none;
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 700px;
  z-index: 9999;
  max-height: 90vh;
  overflow: scroll;
}
div[class$='__form--modal'].active { display: block; }
div[class$='__form'] .hs_submit.hs-submit { display: block !important; }
div[class$='__cta'] { display: flex; flex-wrap: wrap; align-items: center;}
div[class$='__cta'] > *:not(:last-child) { margin-right: 1rem; }
div[class$='__cta'] { margin-top: 2em; }
div[class$='__overlay'], div[class$='__video'], div[class$='__background'] {
  position: absolute;
  content: '';
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.folio__block-cta { margin-top: 50px !important; }
div[class$='__overlay'] { z-index: 10; }
div[class$="--horizontal"].folio__blocks > * { display: flex; flex-wrap: nowrap; }
div[class$="--horizontal"].blocks--icon .folio__block-image { margin-right: 20px; }
div[class$="--vertical"].blocks--icon .folio__block-image { margin-bottom: 20px; }
div[class$="--horizontal"].reverse.blocks--icon .folio__block-image { margin-left: 20px; }
div[class$="--vertical"].reverse.blocks--icon .folio__block-image { margin-top: 20px; }
div[class$="__block"] { {{ boxShadow("0px 0px 15px rgb(0 0 0 / 30%") }} }
.folio__blocks .folio__block-title h3 { /*color: var(--light-color);*/ margin-bottom: 10px; font-size: 1.4em; }
.folio__blocks .folio__block-content * { /*color: var(--light-color);*/ margin: 0; }
.section--tertiary .folio__blocks .folio__block-content * { /*color: var(--light-color);*/ }
.blocks--media.folio__blocks .folio__block-wrap { padding: 20px; background-color: /*var(--secondary-color); */}
.blocks--hover.folio__blocks .folio__block { position: relative; }
.blocks--hover.folio__blocks .folio__block-wrap { position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 20px; z-index: 5; }
.blocks--hover.folio__blocks .folio__block-content *, .blocks--hover.folio__blocks .folio__block-title h3 { /*color: var(--light-color);*/ }
.blocks--hover--reveal.folio__blocks .folio__block:hover:after { opacity:.9; }
.blocks--media.folio__blocks .folio__block .block__video { display: flex; justify-content: center; align-items: center; height: 100%; }
.blocks--media.folio__blocks .folio__block .block__video:hover { text-decoration: none; }
.blocks--media.folio__blocks .folio__block .block__video:hover i { {{ transform("scale(1.2)") }} transform-origin: center; opacity: 1; }
.blocks--media.folio__blocks .folio__block .block__video i { font-size: 3em; {{ transition("all .5s ease-in-out") }} opacity: .8; /*color: var(--primary-color);*/ }
div[class*="blocks--hover--flip"] .folio__block .folio__block-wrap { position: relative; }
div[class*="blocks--hover--flip"] .folio__block .folio__block-wrap > * { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
div[class*="blocks--hover--flip"] .folio__block .folio__block-image { display: none; }
div[class*="blocks--hover--flip"] .folio__block .folio__block-front { background-size: cover; background-position: center center; }
div[class*="blocks--hover--flip"] .folio__block .folio__block-front * { position: relative; z-index: 1; }
div[class*="blocks--hover--flip"] .folio__block .folio__block-front:before { content: ''; /*background-color: var(--primary-color);*/ position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: .7; z-index: 0; }

div[class*="blocks--hover--flip"] .folio__block-wrap > * { -webkit-backface-visibility: hidden; backface-visibility: hidden; }
.blocks--hover.blocks--hover--colorize.folio__blocks .folio__block *, .blocks--hover.blocks--hover--colorize.folio__blocks .folio__block h3 { /*color: var(--primary-color);*/ {{ textShadow("0px 0px 35px rgba(0,0,0,.4)") }} }
.folio__block-cta .button-wrap { margin-top: 20px; }
/* Parallax Styles */
.section-parallax--css { overflow-y: scroll; }
.folio__parallax .folio__background {
  z-index: -1;
  transform-origin:0 0;
  transform-style: preserve-3d;
  overflow: visible;
}
.folio__parallax .folio__background:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: inherit;
  transform-origin: 0 0;
  transform-style: preserve-3d;
}

/* VIDEO BG Styles */

@media screen and (max-width: 950px) {
  div[class$='__video-bg'] iframe {
    min-width: 156vh;
    min-height: calc(100vh * 1.65);
  }
}
@media screen and (max-width: 767px) {
  div[class$='__video-bg'] iframe {
    display: none;
  }
  .simpleParallax { 
    overflow: visible !important; 
  }
}

@media screen and (max-width: 767px) {
  div[class$='__container'] { padding: 0 15px; }
  .mobile-reverse div[class$='__row'] { flex-direction: column-reverse; } 
  .vidyard-player-container { overflow: visible !important; }
  .section__cta > * {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
  .section__cta > *:not(:last-child) {
    margin-bottom: 1rem;
    margin-right: 0;
  }
  .section--full-height div[class$='__container'] {
    padding: 40px 15px 60px 15px !important;
  }    
}

.mfp-close-btn-in .mfp-close {
  color: var(--light-color) !important; 
}

.white-popup {
  position: relative;
  background: transparent;
  padding: 20px;
  width: auto;
  max-width: 700px;
  margin: 20px auto;
}

/*.filter-blocks__blocks.blocks--media *[class$="__block-wrap"], .slider-blocks__blocks.blocks--media  *[class$="__block-wrap"] { padding: 20px; background-color: var(--secondary-color); }*/
*[class$="__block"] *[class$="__block-wrap"] .button { padding: 12px 24px; }
.blocks--icon--horizontal.blocks--icon > * { display: flex !important; flex-wrap: nowrap; }
div[class$="--horizontal"].blocks--icon div[class$="__block-image"] { margin-right: 20px; }
div[class$="--vertical"].blocks--icon div[class$="__block-image"] { margin-bottom: 20px; }
div[class$="--horizontal"].reverse.blocks--icon div[class$="__block-image"] { margin-left: 20px; }
div[class$="--vertical"].reverse.blocks--icon div[class$="__block-image"] { margin-top: 20px; }
div[class$="__blocks"] div[class$="__block-title"] h3 { /*color: var(--light-color);*/ margin-bottom: 10px; font-size: 1.4em; }
div[class$="__blocks"] div[class$="__block-content"] { margin-bottom: 20px; }
div[class$="__blocks"] div[class$="__block-content"] * { /*color: var(--light-color);*/ margin: 0; }
.blocks--media *[class$="__block-wrap"] { padding: 20px; /*background-color: var(--secondary-color);*/ }
.blocks--media *[class$="__block"] { /*background-color: var(--secondary-color);*/ }
.blocks--hover *[class$="__block"] { position: relative; }
.blocks--hover *[class$="__block"]:after { content: ''; z-index: 2; transition: all .5s ease-in-out; position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 20px; background-color: var(--primary-color); opacity: .7; }
.blocks--hover div[class$="__block-wrap"] { position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 20px; z-index: 5; }
.blocks--hover div[class$="__block-content"] *, div[class$="__blocks"].blocks--hover div[class$="__block-title"] h3 { /*color: var(--light-color);*/ }
.blocks--hover--reveal div[class$="__block-wrap"] { background-color: transparent !important; }
.blocks--hover--reveal div[class$="__block-content"] { height: auto; max-height: 0; overflow: hidden; opacity: 0; transform: translateY(100px); transition: all .5s ease-in-out; }
.blocks--hover--reveal *[class$="__block"]:hover div[class$="__block-content"] { max-height: 500px; opacity: 1; transform: translateY(0); }
.blocks--hover--reveal *[class$="__block"]:hover:after { opacity:.9; }
.blocks--media *[class$="__block"] .block__video { display: flex; justify-content: center; align-items: center; height: 100%; }
.blocks--media *[class$="__block"] .block__video:hover { text-decoration: none; }
.blocks--media *[class$="__block"] .block__video:hover i { transform: scale(1.2); transform-origin: center; opacity: 1; }
.blocks--media *[class$="__block"] .block__video i { font-size: 3em; transition: all .5s ease-in-out; opacity: .8; color: var(--primary-color); }
div[class*="blocks--hover--flip"] div[class$="__block-wrap"] > *  { transition: all 0.5s ease-in-out; transform-style: preserve-3d; backface-visibility: hidden; }
div[class*="blocks--hover--flip"] *[class$="__block"] div[class$="__block-wrap"] { position: relative; }
div[class*="blocks--hover--flip"] *[class$="__block"] div[class$="__block-wrap"] > * { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
div[class*="blocks--hover--flip"] *[class$="__block"] div[class$="__block-image"] { display: none; }
div[class*="blocks--hover--flip"] *[class$="__block"] div[class$="__block-front"] { background-size: cover; background-position: center center; }
div[class*="blocks--hover--flip"] *[class$="__block"] div[class$="__block-front"] * { position: relative; z-index: 1; }
div[class*="blocks--hover--flip"] *[class$="__block"] div[class$="__block-front"]:before { content: ''; /*background-color: var(--primary-color); */ position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: .7; z-index: 0; }
.blocks--hover--flipH *[class$="__block"] div[class$="__block-front"] { transform: rotateY(0deg); }
.blocks--hover--flipH *[class$="__block"] div[class$="__block-back"] { transform: rotateY(180deg); }
.blocks--hover--flipH *[class$="__block"]:hover div[class$="__block-front"] { transform: rotateY(180deg); }
.blocks--hover--flipH *[class$="__block"]:hover div[class$="__block-back"] { transform: rotateY(0deg); }
.blocks--hover--flipV *[class$="__block"] div[class$="__block-front"] { transform: rotateX(0deg); }
.blocks--hover--flipV *[class$="__block"] div[class$="__block-back"] { transform: rotateX(180deg); }
.blocks--hover--flipV *[class$="__block"]:hover div[class$="__block-front"] { transform: rotateX(180deg); }
.blocks--hover--flipV *[class$="__block"]:hover div[class$="__block-back"] { transform: rotateX(0deg); }
div[class*="blocks--hover--flip"] div[class$="__block-wrap"] > * { -webkit-backface-visibility: hidden; backface-visibility: hidden; }
div[class*="blocks--hover--flip"] *[class$="__block"] div[class$="__block-wrap"] > * { transition: all 0.5s ease-in-out; /*background-color: var(--primary-color);*/ }
.blocks--hover--colorize *[class$="__block"] div[class$="__block-image"], .blocks--hover--colorize *[class$="__block"] div[class$="__block-image"] img { filter: grayscale(100%); transition: all .5s ease-in-out; }
.blocks--hover--colorize div[class$="__blocks"] *[class$="__block"] * { /*color: var(--primary-color); */ }
.blocks--hover--colorize *[class$="__block"]:hover div[class$="__block-image"], .blocks--hover--colorize *[class$="__block"]:hover div[class$="__block-image"] img { filter: grayscale(0); }
.blocks--hover--colorize *[class$="__block"]:after { opacity: 0 !important; }
.blocks--hover--zoom *[class$="__block"] { transition: all .5s ease-in-out; }
.blocks--hover--zoom *[class$="__block"]:hover { transform: scale(1.05); box-shadow: 0px 0px 15px rgba(0,0,0,.2); }
.blog__block-image { background-size: cover; background-position: center center; }
.blog__block-image img { opacity: 0; }
.popup-video i { font-size: 3em; {{ transition("all .5s ease-in-out") }} transform-origin: center center; z-index: 99; position: absolute; top: 50%; left: 50%; {{ transform("translate(-50%,-50%)") }} color: var(--light-color); opacity: .8;  }
.blocks--hover.folio__blocks .folio__block:after { content: ''; z-index: 2; {{ transition("all .5s ease-in-out") }} position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 20px; background-color: var(--primary-color); opacity: .7; }
.blocks--hover--reveal.folio__blocks .folio__block-content { height: auto; max-height: 0; overflow: hidden; opacity: 0; {{ transform("translateY(100px)") }} {{ transition("all .5s ease-in-out") }} }
.blocks--hover--reveal.folio__blocks .folio__block:hover .folio__block-content { max-height: 500px; opacity: 1; {{ transform("translateY(0)") }} }
div[class*="blocks--hover--flip"] .folio__block-wrap > *  { transition: all 0.5s ease-in-out; transform-style: preserve-3d; backface-visibility: hidden; }
.blocks--hover--flipH .folio__block .folio__block-front { {{ transform("rotateY(0deg)") }} }
.blocks--hover--flipH .folio__block .folio__block-back { {{ transform("rotateY(180deg)") }} }
.blocks--hover--flipH .folio__block:hover .folio__block-front { {{ transform("rotateY(180deg)") }} }
.blocks--hover--flipH .folio__block:hover .folio__block-back { {{ transform("rotateY(0deg)") }} }
.blocks--hover--flipV .folio__block .folio__block-front { {{ transform("rotateX(0deg)") }} }
.blocks--hover--flipV .folio__block .folio__block-back { {{ transform("rotateX(180deg)") }} }
.blocks--hover--flipV .folio__block:hover .folio__block-front { {{ transform("rotateX(180deg)") }} }
.blocks--hover--flipV .folio__block:hover .folio__block-back { {{ transform("rotateX(0deg)") }} }
div[class*="blocks--hover--flip"] .folio__block .folio__block-wrap > * { {{ transition("all 0.5s ease-in-out") }} }
.blocks--hover--zoom.folio__blocks .folio__block { {{ transition("all .5s ease-in-out") }} }
.blocks--hover--zoom.folio__blocks .folio__block:hover { {{ transform("scale(1.2)") }} {{ boxShadow("0px 0px 15px rgba(0,0,0,.2)") }} }
.folio__parallax { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 150%; height: 150%; {{ transform("translate(0, -50%)") }} }
div[class$='__video-bg'] iframe {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  aspect-ratio: 16 / 9; 
  min-width: 135vw;
  min-height: 100%;
  {{ transform("translate(-50%, -50%)") }}
}
.vidyard-player-container > div {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  {{ transform("translateX(-50%) translateY(0)") }}
}
div[class$='__video-bg'] {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 9;
  {{ transform("translate(-50%,-50%)") }}
  aspect-ratio: 16 / 9;
}

@media screen and (max-width: 767px) {
  .filter-blocks__block {
    width: 100%; 
  }
}
