<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base.html" %}

{% block body %}

{# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}

{% dnd_area "dnd_area" label="Main section", class="body-container body-container--home" %}

  {# HERO SECTION #}
    {% dnd_section full_width=true, padding={ 'default': { 'top': 0, 'right': 0, 'bottom': 0, 'left': 0 }} %}
      {% dnd_column padding={'default': { 'top': 0, 'right': 0, 'bottom': 0, 'left': 0 }} %}
        {% dnd_row padding={'default': { 'top': 0, 'right': 0, 'bottom': 0, 'left': 0 }} %}
          {% dnd_module path='../modules/folio-section.module', width=12 %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End HERO SECTION #}

{% end_dnd_area %}

{% endblock body %}
